body {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  /* position: relative; */
  transform: translate(-300px, -300px);
}

.yellow {
  position: absolute;
  top: 50%;
  left: 10%;
}

p {
  position: absolute;
}

/* postitions */
/* static body hariç => body relative */
/* absolute => HTML ağacından çıkarmış */
