:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 30px;
}

.dice {
  font-size: 7rem;
  background-color: red;
  text-align: center;
}

.player input {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
}

.active {
  border: 1px solid white;
  background-color: black;
  color: aqua;
  font-size: 24px;
}
